.hello {
    width: 350px;
    height: 220px;
    margin-top: 15px;
    margin: left,right 10px; 
    margin-bottom: 20px;
    border-bottom-width: 30px;
    border: 2px dotted red;
    background-color: green;
}